<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1054072094706-n7hcl27enlahe4f84a0mi618leli2070.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054072094706-n7hcl27enlahe4f84a0mi618leli2070</string>
	<key>API_KEY</key>
	<string>AIzaSyCgcXCpxvc8jxDdBNRrHIyOyjlFgHtdYK8</string>
	<key>GCM_SENDER_ID</key>
	<string>1054072094706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>C4Q.Final.CABi</string>
	<key>PROJECT_ID</key>
	<string>cabi-6a1fc</string>
	<key>STORAGE_BUCKET</key>
	<string>cabi-6a1fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054072094706:ios:1e5251298c73d6bf</string>
	<key>DATABASE_URL</key>
	<string>https://cabi-6a1fc.firebaseio.com</string>
</dict>
</plist>